.jet-valid-tile{
  position: absolute;
  display: block;
  width: 100px;
  height: 20px;
}
.jet-unpass{
  border: 1px solid #e20!important;
  background-color: rgba(255,0,0,0.1)!important;
  color: #f00!important;
}