body{
}
.cursor-pointer{cursor:pointer}
.position-relative{position:relative}
.bg-white{  background-color:#fff!important; }
.bg-gray{  background-color: #ccc; }
.bg-eee{  background-color:#eee!important; }
.bg-orange{ background-color:#f39800!important; }
.bg-green{  background-color: rgb(82,194,119); }
.bg-theme{   background-color: rgb(0,0,0);}
/*  rgb(240,040,066) */
.theme-color{ color:rgb(0,0,0)!important; }
.text-orange{ color: #f39800!important; }
.text-green{  color:rgb(82,194,119)!important; }
.text-white{  color:#fff!important;  }
.text-black{  color:#000!important;  }
.display-none{  display:none; }
.div-center { margin-left: auto; margin-right: auto; }
.text-center { text-align: center; }
.border-theme{  border:1px solid rgb(0,0,0)!important;  }
.border-top-ddd{border-top: 1px solid #ddd;}
.border-bottom-ddd{border-bottom: 1px solid #ddd;}
.border-bottom-eee{border-bottom: 1px solid #eee;}
.border-right{border-right:1px solid #888}
.circle-radius  { border-radius: 50%; }
.float-left{  float:left; }
.float-right{ float:right; }
.pr-120{padding-right:120px;}
.mt-none{margin-top:0px!important}
.mb-none{margin-top:0px!important}
.height-full{ height:100%; }
.zindex-100{ z-index:100 }
.width-full { width: 100%!important; }
.vertical-textbottom{  vertical-align: text-bottom;  }
